nav.navbar.navbar-fixed-top.header-design
  div.container
    div.navbar-header
      button(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/").navbar-brand Matcha
    div#navbar.navbar-collapse.collapse
      if authorised
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href="/") Home
          li
            a(href="/") Home
          li.dropdown
            a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Dropdown
              span.caret
            ul.dropdown-menu
              li
                a(href="/") Action
              li(role="separator").divider
              li
                a(href="/") Other Action
              li(role="separator").divider
              li
                a(href="/") Something
      else
        form.navbar-form.navbar-right
          div.form-group
            input(type="text" placeholder="Email").form-control
          div.form-group
            input(type="password" placeholder="Password").form-control
          button(type="submit")#sign-in-button.btn.btn-success Sign in
          a(href="/users/new")#sign-up-button.btn.btn-primary Sign up
  hr.hr-separator