extends ../layout.pug

block append stylesheet

block content
  div.row
    div.col-xs-12
      h1.text-center= msg
    div.col-xs-12.col.text-center
      p= msg_detailed
block append javascript
  script!= script