/** * GLOBAL * **/
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body {
  padding: 50px 0px 20px 0px;
  margin: 0;
  font-family: Raleway, Monaco;
  color: #FD7E95;
}

a:-webkit-any-link {
	cursor: pointer !important;
	text-decoration: none;
	color: inherit;
}

.hr-separator {
	border-color: #FD7E95;
	opacity: 0.5;
	margin: 0;
}
.icon-bar { background-color: #FD7E95; }
/** * GLOBAL CSS **/

/** * HEADER CSS * **/
.header-design .navbar-form > * { margin-right: 5px; }

#sign-in-button, #sign-in-button:visited {
	border-color: #FD7E95;
	background-color: #FD7E95;
}
#sign-in-button:hover, #sign-in-button:focus {
	border-color: #FB4969;
	background-color: #FB4969;
}

#sign-up-button, #sign-up-button:visited {
	color: white;
	border-color: rgba(255, 0, 0, 0);
	background-color: rgba(255, 0, 0, 0.65);
}
#sign-up-button:hover, #sign-up-button:focus {
	border-color: rgba(255, 0, 0, 0);
	background-color: rgba(255, 0, 0, 0.75);
}

/** * /HEADER CSS * **/

/** * FOOTER CSS * **/
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
}
/** * /FOOTER CSS * **/